@import "tailwindcss";
@import "@bowlersnetwork/config-tailwind/theme.css";

body {
  font-family: var(--font-family-sans);
  background-color: var(--color-surface);
  color: var(--color-text-primary);
}
